@model Recommendation
@{
    ViewData["Title"] = "Add Review";
}


    <section id="portfolio-details">
        <div class="container">
            <div class="portfolio-description">
                <h1>
                    Thanks!
                </h1>


                <div>Thank you @Model.Author for your review! </div>
</div>
            </div>


    </section>

